$primary: #FE9015;
$primary-hover: #FA8400;
$secondary: #0171A3;
$bg-color: #ffffffff;

$gray-1: #848992;
$gray-2: #C8CBD0;
$gray-bg: #ECEFF3;
$gray-menu: #B5BBC4;

$black: #333333;
$red: #EC2525;
$green: #27AE60;

$text-color: $black;